<h2>Add new customer</h2>

<form method="post" action="addNew" class="form-inline">
    <div class="form-group">
        <label for="email">Name:</label>
        <input type="text" class="form-control" id="customerName" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
        <label for="email">Number of Party:</label>
        <input type="text" class="form-control" id="customerParty" placeholder="Enter party" name="party">
    </div>
    <div class="form-group">
        <label for="email">Phone Number:</label>
        <input type="text" class="form-control" id="customernumber" placeholder="Enter number" name="number">
    </div>
    <input type="submit" class="btn btn-info" name="Add Customer" value="Add Customer">
</form>
