<h2>Our services</h2>
<h3>Nail Care</h3>
<h3>Manicure</h3>
<ul>
    <li style="height:120px;width:600px;overflow:auto;border:4px solid yellowgreen;padding:2%"><h3>Manicure</h3>
        <ul>
            <li><h5>40 minutes - $39</h5></li>
            <li>Our signature manicure includes a soak, exfoliation, nourishing warm cream, hand and forehand massage, and paraffin to seal in the moisture and make you feel relaxed. Nail shaping, cuticle care, and polish or buff makes this manicure a sweet ending.</li>
        </ul>
    </li>
    <li style="height:120px;width:600px;overflow:auto;border:4px solid yellowgreen;padding:2%"><h3>Organic Manicure</h3>
        <ul>
            <li><h5>40 minutes - $39</h5></li>
            <li><p>We ensure that only 100% organic ingredients are used for this manicure. Enjoy nail shaping, cuticle care, and a luxurious cream massage. Finish your service with a clean buff or select one of our 9-free polishes. Add eco-fin organic oil or a sugar scrub to your manicure for $8</p></li>
        </ul>
    </li>
    <li style="height:120px;width:600px;overflow:auto;border:4px solid yellowgreen;padding:2%"><h3>Mani + Pedi</h3>
        <ul>
            <li><h5>60 minutes - $56</h5></li>
            <li><p>Our express manicure and pedicure includes nail shaping, light cuticle care, warm cream massage and polish or buff.</p></li>
        </ul>
    </li>
    <li style="height:120px;width:600px;overflow:auto;border:4px solid yellowgreen;padding:2%"><h3>(Shellac/Gel) Manicure</h3>
        <ul>
            <li><h5>40 minutes - $38</h5></li>
            <li><p>The amazing 14-day manicure is perfect for those who have no time for weekly manicures, moms who wash their hands 100 times a day, or those who just want their manicure to dry instantly after polish. Smudge-proof and chip resistant.</p></li>
            <li><p>If you currently have Shellac/Gel on your nails, please schedule a Shellac removal along with your manicure. Removal is complimentary with a scheduled manicure if you had it applied at recoop within 3 weeks</p></li>
        </ul>
    </li>
</ul>

<p>Click on below image to download out other spa menu:<p>
<a href="othermenu.jpg" download>
  <img border="0" src="othermenu.jpg" alt="othermenu" width="104" height="142">
</a>
<br>
<h3><a href="https://www.recoopspa.com/">Visit homepage for more details...</a></h3>
<br>
<a href="/" class="btn btn-primary" role="button">Go back to the main page</a>
